<form [formGroup]="formulario" (ngSubmit)="onSubmit($event)" >
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control"  formControlName="nome" id="nome" placeholder="nome">
    </div>      <!-- div>     {{ nome1.className }}        </!-->
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control"  formControlName="email" id="email" placeholder="nome@email.com">
    </div>
      <button type="submit" class="btn btn-primary">Submit</button> |
      <button type="submit" class="btn" (click)="resetar()">Cancelar</button>
      <app-form-debug [form]="formulario"></app-form-debug>
</form>
